{% extends "base.html" %}
{% block title_block %} Home {% endblock  %}
{% load custom_filters %}
{% block body_block %}

{% for blog in blogs %}
<div class="row">
    <div class="col-sm-4">
   
        <img src="/media/{{blog.blog_image}}" class="img-fluid mx-auto d-block mt-3" width="100" alt="{{blog.blog_title}}">
    </div>
    <div class="col-sm-8">
        <h4>{{ blog.blog_title }}</h4>
        <p>{{blog.blog_content|range_filter|linebreaks}} <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read more</a></p>
        <h6>Posted by: @{{blog.author}} </h6>
        <small>{{ blog.publish_date }}</small>
        <small>{{blog.liked_blog.count}} likes | {{blog.blog_comment.count }} comments</small>
    </div>
    <hr>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    
    <!-- Previous Page -->
    {% if blogs.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
    {% endif %}

    <!-- Page Numbers -->
    {% for blog_page in blogs.paginator.page_range %}
        {% if blogs.number == blog_page %}
            <!-- Current page, make it active and disable the link -->
            <li class="page-item active"><a class="page-link" href="?page={{ blog_page }}">{{ blog_page }}</a></li>
        {% else %}
            <!-- Other pages -->
            <li class="page-item"><a class="page-link" href="?page={{ blog_page }}">{{ blog_page }}</a></li>
        {% endif %}
    {% endfor %}

    <!-- Next Page -->
    {% if blogs.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
    {% endif %}
    
    </ul>
</nav>





{% endblock  %}